html, body { height:100%; }

#sec1{
    width: 100%;
    height: 70%;
    margin:  1em auto 1em;
}
footer{
    height: 120px;
}
#join_member{
    position: relative;
    width: 100%;
}
table{
    position: relative;
    width:70%;
}
th{
    display:table-cell;
    position: relative;
    top:0px;
    padding:0px  0px 60px  0px;
    text-align: left;
}
td{ 
    position: relative;
    display: table-cell;
    padding: 0 0;
    top:20px;
} 
#confirm_did,#confirm_dpw,#confirm_vali{
    position: relative;
    top: 12px;
    width: 74%;
    color: dodgerblue;
} 
#submit_btn{
    position: relative;
    visibility: hidden;
   
    font-size: 2em;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#submit_btn:hover{
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
#submit_btn:active{
    top:41px;
}
#joinComplete{
    text-align: center;
    visibility: hidden;
    width: 100%;
    display: inline-block;
}

#joinComplete>button{
    z-index: 1;
    position: relative;
    top:250px;
    right: 200px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#joinComplete>button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
#joinComplete>button:active {
	top:249px;
}
#joinComplete>a{
    position: relative;
    top: 120px;
    left: 70px;
    display: inline-block;
    text-align: center;
    font-size: 2em;
}
a{  
    color:#000000;
    text-decoration: none;
}
/*---------------------------mobile---------------------------------*/
@media all and (max-width: 329px){
#join_member{
    position: relative;
    width: 99%;
    top:-50px;
    left: 12%;
    margin:  0 auto ;
    padding: 0 auto;
 
}
 
table{
    width: 30%;
    margin:  1em auto 1em;
    left: 4%;
    position: relative;
    top:1em;
}
#cuca{
      display: none;
}
th{
   padding-bottom: 100px;
    left: 1.8%;
    right: 60%;
    text-align: center;
    font-size: 1.2em;
    min-width: 200px;
}
th>p{
    position: relative;
    left: 0%;
    font-size: 0.6em;
    opacity: 0.8;
}
td{ 
    top:2px;
    height: 20px;
    left: -40.9%;
    font-size: 1em; 
}  
td>p{
    font-size: 0.3em;
    opacity: 0.7;
}
#td3{
    position: relative;
    top:-5px;
    }   
.td_input{
    min-width: 30%;
    max-width: 70%;
    font-size: 0.9em;
    }
#confirm_did,#confirm_dpw,#confirm_vali{
    top:7px;
    width: 150px;
    height: 3em;
    font-size: 0.8em;
}
    
    
#joinComplete>a{
    position: relative;
    top: 120px;
    left: 00px;
    display: inline-block;
    text-align: center;
    font-size: 1em;
}
#joinComplete>button{
    z-index: 1;
    position: relative;
    top:250px;
    right: 00px;
  }
}
@media all and (min-width:330px) and (max-width: 767px) {
#joinForm{
    display: inline-block;
    width: 100%;
}
#join_member{
    float: right;
    position: relative;
    width: 50%;
    top:-20px;
    margin:  0 100px; 0 370px; 
}
 
table{
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top:1em;
}
#cuca{
      display: none;
}
th{
   padding-bottom: 100px;
    left: 1.8%;
    right: 60%;
    text-align: center;
    font-size: 1.2em;
    min-width: 200px;
}
th>p{
    position: relative;
    left: 0%;
    font-size: 0.6em;
    opacity: 0.8;
}
td{ 
    top:2px;
    height: 20px;
    left: -40.9%;
    font-size: 1em; 
}  
td>p{
    font-size: 0.3em;
    opacity: 0.7;
}
#td3{
    position: relative;
    top:-5px;
    }   
.td_input{
    min-width: 30%;
    max-width: 70%;
    font-size: 0.9em;
    }
#confirm_did,#confirm_dpw,#confirm_vali{
    top:7px;
    width: 150px;
    height: 3em;
    font-size: 0.8em;
}

#submit_btn{
    position: relative;
    visibility: hidden;
    top:-30px;
    left:110%;
    font-size: 1.2em;
    margin: 0 auto 0;
}
#submit_btn:active{
   top:-31px;
} 
#joinComplete>a{
    position: relative;
    top: 120px;
    left: 70px;
    display: inline-block;
    text-align: center;
    font-size: 1em;
}    
#joinComplete>button:active {
	top:401px;
}    
#joinComplete>button{
    z-index: 1;
    position: relative;
    top:250px;
    right: 100px;
}  
    
}

/*---------------------------tab---------------------------------*/
@media all and (min-width: 767.1px) and (max-width: 1024px){
#join_member{
    width: 60%;
    top:2em;
    left: 15%;
}
table{
    width: 100%;
    left: 5%;
    top:2em;
    border-collapse: separate;
}  
.join_th{
    width: 220px;
    left: 0px;
    font-size: 1.2em;
    padding:0px  0px 20px  0px;
    text-align: left;
}
td{ 
    height: 130px;
    top:20px;
    font-size: 1.0em; 
}  

th>p{
    font-size: 0.8em;
    opacity: 0.7;
}
   
.td_input{
      width: 220px;
      height: 20%;
      font-size: 1.3em;
    }
#confirm_did,#confirm_dpw,#confirm_vali{
    width: 220px;
    height: 3em;
    font-size: 1.3em;
} 
    
#imgcuca{
    position: relative;
    width: 70%;
    margin-top: 2.4em;
    margin-left: 16%;
    height: 9em;
}
#cuca{
    position: absolute;
    top:4.6em;
    left: 480px;
    height:18.4em;
    width: 50%;
    background-image: url(/img/back1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}  
#submit_btn{
    top:-70px;
    left: 133%;
    margin: 0 auto;
}
#submit_btn:active{
    top:-71px;   
} 
  
}

/*----------------------------pc--------------------------------*/
@media all and (min-width: 1024.1px){
#join_member{
    width: 60%;
    left: 20%;
}
table{
    width: 100%;
    left: 10%;
    top:2em;
    border-collapse: separate;
}  
.join_th{
    width: 220px;
    left: 0px;
    font-size: 1.2em;
    padding:0px  0px 20px  0px;
    text-align: left;
}
td{ 
    height: 130px;
    top:20px;
    font-size: 1.0em; 
}  

th>p{
    font-size: 0.8em;
    opacity: 0.7;
}
   
.td_input{
    width: 220px;
    height: 20%;
    font-size: 1.3em;
}
#confirm_did,#confirm_dpw,#confirm_vali{
    width: 220px;
    height: 3em;
    font-size: 1.3em;
} 
    
#imgcuca{
    position: relative;
    width: 65%;
    margin-top: 1.5em;
    margin-left: 20%;
    height: 9em;
}
#cuca{    
    position: absolute;
    top:4.6em;
    left: 560px;
    height:18.4em;
    width: 40%;
    background-image: url(/img/back1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}    
#submit_btn{
    top:-40px;
    left: 133%;
    margin: 0 auto;
}
#submit_btn:active{
    top:-41px;   
}
}